<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetop2_appvan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditarClienteActivity"></activity>
        <activity android:name=".CriarClienteActivity" />
        <activity android:name=".VisualizarClientesActivity" />
        <activity android:name=".EditarPeriodoActivity" />
        <activity android:name=".CriarPeriodoActivity" />
        <activity android:name=".VisualizarPeriodosActivity" />
        <activity android:name=".EditarCidadeActivity" />
        <activity android:name=".CriarCidadeActivity" />
        <activity android:name=".VisualizarCidadesActivity" />
        <activity android:name=".EditarPontoActivity" />
        <activity android:name=".CriarPontoActivity" />
        <activity android:name=".VisualizarPontosActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>