<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AcessoCidade</servlet-name>
        <servlet-class>servlet.AcessoCidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessoTipoExame</servlet-name>
        <servlet-class>servlet.AcessoTipoExame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessoPessoa</servlet-name>
        <servlet-class>servlet.AcessoPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcessoExame</servlet-name>
        <servlet-class>servlet.AcessoExame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcessoCidade</servlet-name>
        <url-pattern>/AcessoCidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessoTipoExame</servlet-name>
        <url-pattern>/AcessoTipoExame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessoPessoa</servlet-name>
        <url-pattern>/AcessoPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcessoExame</servlet-name>
        <url-pattern>/AcessoExame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
